#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
}

#menu:hover{
    color:rgb(255, 156, 44);
    background-color: #3498db;
    padding: 2px;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
}

@media only screen and (min-width: 720px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}